<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ajie.dao.mapper.TbConfigMapper">
	<resultMap id="BaseResultMap" type="com.ajie.dao.pojo.TbConfig">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="config" property="config" jdbcType="VARCHAR" />
		<result column="modifyCount" property="modifyCount" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="lastModifyTime" property="lastModifyTime"
			jdbcType="TIMESTAMP" />
		<result column="note" property="note" jdbcType="VARCHAR" />
	</resultMap>
	
	  <sql id="Base_Column_List" >
	    id, version, config, modifyCount, createTime, lastModifyTime, note
 	 </sql>
	<select id="getConfig" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List" />
	    from tb_config
	    where id = #{id,jdbcType=VARCHAR}
  </select>
  
   <insert id="create"  parameterType="com.ajie.dao.pojo.TbConfig" >
	    insert into tb_config (id, version, config, 
	      modifyCount,createTime,lastModifyTime,note)
	    values (#{id,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR},#{config,jdbcType=VARCHAR}, #{modifyCount,jdbcType=TIMESTAMP}, 
	      #{createTime,jdbcType=TIMESTAMP},#{lastModifyTime,jdbcType=TIMESTAMP},#{note,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.ajie.dao.pojo.TbConfig" >
    update tb_config
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="config != null" >
        config = #{config,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        lastModifyTime = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyCount != null" >
        modifyCount = #{modifyCount,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>